.carousel {
    background: #000;
    position: relative;
    overflow: hidden;
}
.carousel > ul,
.carousel > ul > li {
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;    
    backface-visibility: visible;
}

/* Controls */
.carousel > ul {
    padding: 0;
    margin: 0;
    bottom: 10px;
    left: 50px;
    position: absolute;
    top: 10px;
    right: 50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}
.carousel .carousel-back,
.carousel .carousel-forward {
    height: 34px;
    width: 34px;
    position: absolute;
    outline: none;
    z-index: 1;
}
.carousel .carousel-back {
    left: 9px;
}
.carousel .carousel-forward {
    right: 9px;
}

.carousel-item {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    z-index: -1;
    width: 100%;
}
.carousel-item:first-child {
    z-index: 1;
}
.carousel-item a,
.carousel-item img {
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 100%;
}

.carousel-item.previous,
.carousel-item.active,
.carousel-item.next {
    z-index: 0;
}
.carousel-item.active {
    z-index: 1;
}

/* Set up content */
.carousel-content {
    position: absolute;
    height: 100%;
    left: 0;    
    top: 0;
    width: 100%;    
}

/* Helpers */
.carousel-item .pre-helper,
.carousel-item .post-helper {
    background: #000;
    content: '';
    position: absolute;
    left: 0;
    margin: 0 0 0 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition-property: bottom, top;
    -moz-transition-property: bottom, top;
    transition-property: bottom, top;
    z-index: 1;
}
.carousel-item .pre-helper {
    top: 100%;
    background: #fff;
}

.carousel-item.active .post-helper {
    bottom: 100%;
}

.carousel-item.previous .pre-helper {
    top: 0;
}
.carousel-item.previous .post-helper {
    bottom: 0;
    top: 100%;
}

